{% extends 'base.html' %}
{% block body %}
    <!---food menu--->
    <section class="menu" id="menu">
      <div class="center-text">
        <h3>Food Menu</h3>
        <h2>Delicious food</h2>
      </div>

      <div class="menu-content">
        <div class="box">
          <div class="box-content">
            <div class="box-img">
              <img src="{{url_for('static', filename='img/food.png')}}" />
            </div>

            <div class="box-text">
              <h4>Corn-Shrimp</h4>
              <p>Whales and darkness moving form cattle</p>
              <h6>$32</h6>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-content">
            <div class="box-img">
              <img src="{{url_for('static', filename='img/food.png')}}" />
            </div>

            <div class="box-text">
              <h4>Corn-Shrimp</h4>
              <p>Whales and darkness moving form cattle</p>
              <h6>$32</h6>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-content">
            <div class="box-img">
              <img src="{{url_for('static', filename='img/food.png')}}" />
            </div>

            <div class="box-text">
              <h4>Corn-Shrimp</h4>
              <p>Whales and darkness moving form cattle</p>
              <h6>$32</h6>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-content">
            <div class="box-img">
              <img src="{{url_for('static', filename='img/food.png')}}" />
            </div>

            <div class="box-text">
              <h4>Corn-Shrimp</h4>
              <p>Whales and darkness moving form cattle</p>
              <h6>$32</h6>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-content">
            <div class="box-img">
              <img src="{{url_for('static', filename='img/food.png')}}" />
            </div>

            <div class="box-text">
              <h4>Corn-Shrimp</h4>
              <p>Whales and darkness moving form cattle</p>
              <h6>$32</h6>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-content">
            <div class="box-img">
              <img src="{{url_for('static', filename='img/food.png')}}" />
            </div>

            <div class="box-text">
              <h4>Corn-Shrimp</h4>
              <p>Whales and darkness moving form cattle</p>
              <h6>$32</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}